@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent

@-webkit-keyframes gradient {
  50% {
      background-position: 100% 0
    }
}
@keyframes gradient {
  50% {
    background-position: 100% 0
  }
}
